<!DOCTYPE html>
<html>
    <!-- BEGIN TEST MESSAGE -->
    <div id="banner">
        <div id="banner-content">
            VERSION ABDELLAH
        </div>
    </div>

    <style type="text/css" media="screen">

        div#banner {
            background-color: red;
            width: 100%;
            color: white;
            font-weight: bold;
            letter-spacing: 15px;
        }
        div#banner-content {
            width: 800px;
            margin: 0 auto;
            padding: 10px;
            text-align: center;
        }
    </style>
    <!-- END TEST MESSAGE -->

    <head>
        <meta charset="UTF-8" />
        <title>{% block title %}{% endblock %}</title>
        {% block stylesheets %}{% endblock %}
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
        <!-- Global stylesheets -->
        <link href="{{ asset('bs3/css/bootstrap.css') }}" rel="stylesheet">
        <link href="{{ asset('bs3/css/bootstrap.min.css') }}" rel="stylesheet">
        <link href="{{ asset('font-awesome/css/font-awesome.css') }}" rel="stylesheet">

        <link href="{{ asset('css/style.css')}}" rel="stylesheet">
        <link href="{{ asset('css/style-responsive.css')}}" rel="stylesheet"/>

    </head>
    <body>
        {#<div class="container">#}

            {% block body %}{% endblock %}
        {#</div>#}

        {% block javascripts %}{% endblock %}

        <script src="{{ asset('js/jquery.js') }}"></script>
        <script src="{{ asset('bs3/js/bootstrap.min.js') }}"></script>

    </body>
</html>
